.container {
  padding: 1em;
  position: relative;
}

.slider-wrapper {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

.slider {
  display: flex;
  max-width: 950px;
  max-height: 400px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1em;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  z-index: 1;
}


.slider-nav a {
  width: .5em;
  height: .5em;
  border-radius: 1em;
  background-color: #fff;
  opacity: .75;
  transition: 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a:active {
  background-color: #4dd5ff;
}